<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shouzan.back.mapper.ZoneMapper" >
    <resultMap id="BaseResultMap" type="com.shouzan.back.entity.Coupon" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="coupon_name" property="couponName" jdbcType="VARCHAR" />
        <result column="coupon_shot_name" property="couponShotName" jdbcType="VARCHAR" />
        <result column="coupon_type" property="couponType" jdbcType="TINYINT" />
        <result column="coupon_valid_time_start" property="couponValidTimeStart" jdbcType="TIMESTAMP" />
        <result column="coupon_valid_time_end" property="couponValidTimeEnd" jdbcType="TIMESTAMP" />
        <result column="coupon_stocks" property="couponStocks" jdbcType="INTEGER" />
        <result column="coupon_state" property="couponState" jdbcType="TINYINT" />
        <result column="mer_id" property="merId" jdbcType="INTEGER" />
        <result column="bank_id" property="bankId" jdbcType="INTEGER" />
        <result column="upshelf_time" property="upshelfTime" jdbcType="TIMESTAMP" />
        <result column="downshelf_time" property="downshelfTime" jdbcType="TIMESTAMP" />
        <result column="limit_buy_type" property="limitBuyType" jdbcType="TINYINT" />
        <result column="limit_person_num" property="limitPersonNum" jdbcType="INTEGER" />
        <result column="limit_buy_num" property="limitBuyNum" jdbcType="INTEGER" />
        <result column="describes" property="describes" jdbcType="VARCHAR" />
        <result column="matter" property="matter" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="creator_id" property="creatorId" jdbcType="INTEGER" />
        <result column="last_edit_time" property="lastEditTime" jdbcType="TIMESTAMP" />
        <result column="last_edit_id" property="lastEditId" jdbcType="INTEGER" />
        <result column="is_preferen" property="isPreferen" jdbcType="TINYINT" />
        <result column="is_select" property="isSelect" jdbcType="TINYINT" />
        <result column="priority" property="priority" jdbcType="INTEGER" />
        <result column="goods_tag" property="goodsTag" jdbcType="VARCHAR" />
        <result column="price" property="price" jdbcType="DECIMAL" />
        <result column="discount_price" property="discountPrice" jdbcType="DECIMAL" />
        <result column="coupon_stock_id" property="couponStockId" jdbcType="VARCHAR" />
        <result column="coupon_image" property="couponImage" jdbcType="VARCHAR" />
        <result column="coupon_use_range" property="couponUseRange" jdbcType="VARCHAR" />
        <result column="is_sell" property="isSell" jdbcType="TINYINT" />
        <result column="is_display" property="isDisplay" jdbcType="TINYINT" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, coupon_name, coupon_shot_name, coupon_type, coupon_valid_time_start, coupon_valid_time_end,
        coupon_stocks, coupon_state, mer_id, bank_id, upshelf_time,
        downshelf_time, limit_buy_type, limit_person_num, limit_buy_num, describes, matter,
        create_time, creator_id, last_edit_time, last_edit_id, is_preferen, is_select, priority,
        goods_tag, price, discount_price, coupon_stock_id, coupon_image, coupon_use_range  ,is_display
    </sql>
    <resultMap id="BaseOpeResultMap" type="com.shouzan.back.entity.operate.Operate" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="background" property="background" jdbcType="VARCHAR" />
        <result column="card_img" property="cardImg" jdbcType="VARCHAR" />
        <result column="card_details" property="cardDetails" jdbcType="VARCHAR" />
        <result column="creator_id" property="creatorId" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="last_edit_id" property="lastEditId" jdbcType="INTEGER" />
        <result column="last_edit_time" property="lastEditTime" jdbcType="TIMESTAMP" />
        <result column="card_name" property="cardName" jdbcType="VARCHAR" />
        <result column="card_stocks" property="cardStocks" jdbcType="INTEGER" />
        <result column="card_state" property="cardState" jdbcType="TINYINT" />
        <result column="reduce_tag" property="reduceTag" jdbcType="VARCHAR" />
        <result column="wechat_batches" property="wechatBatches" jdbcType="VARCHAR" />
        <result column="card_price" property="cardPrice" jdbcType="DECIMAL" />
        <result column="discount_price" property="discountPrice" jdbcType="DECIMAL" />
        <result column="upshelf_time" property="upshelfTime" jdbcType="TIMESTAMP" />
        <result column="downshelf_time" property="downshelfTime" jdbcType="TIMESTAMP" />
        <result column="link_url" property="linkUrl" jdbcType="VARCHAR" />
        <result column="coupon_valid_time_start" property="couponValidTimeStart" jdbcType="TIMESTAMP" />
        <result column="coupon_valid_time_end" property="couponValidTimeEnd" jdbcType="TIMESTAMP" />
        <result column="operate_type" property="operateType" jdbcType="TINYINT" />
        <result column="telephone_bill" property="telephoneBill" jdbcType="INTEGER" />
        <result column="tel_limit_count" property="telLimitCount" jdbcType="INTEGER" />
        <result column="white_base_id" property="whiteBaseId" jdbcType="INTEGER" />
        <result column="code_base_id" property="codeBaseId" jdbcType="INTEGER" />
    </resultMap>
    <sql id="Base_ope_Column_List" >
    id, background, card_img, card_details, creator_id, create_time, last_edit_id, last_edit_time,
    card_name, card_stocks, card_state, reduce_tag, wechat_batches, card_price, discount_price,
    upshelf_time, downshelf_time, link_url ,coupon_valid_time_start , coupon_valid_time_end,
    operate_type, telephone_bill, tel_limit_count ,white_base_id, code_base_id
  </sql>

    <select id="findCardStockInfoById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT
          <include refid="Base_Column_List" />
        FROM xys_coupon
        WHERE id = #{id}  FOR UPDATE
    </select>

    <update id="increaseStockById" parameterType="java.lang.Integer">
        UPDATE xys_coupon
        SET coupon_stocks = coupon_stocks + #{inc}
        WHERE id = #{id}
    </update>

    <update id="reduceStockById" parameterType="java.lang.Integer">
        UPDATE xys_coupon
        SET coupon_stocks = coupon_stocks - #{red}
        WHERE id = #{id}
    </update>

    <select id="findOptCardStockInfoById" parameterType="java.lang.Integer" resultMap="BaseOpeResultMap">
        SELECT
        <include refid="Base_ope_Column_List" />
        FROM xys_operate_theme
        WHERE id = #{id}  FOR UPDATE
    </select>

    <update id="increaseOptStockById" parameterType="java.lang.Integer">
        UPDATE xys_operate_theme
        SET card_stocks = card_stocks + #{inc}
        WHERE id = #{id}
    </update>

    <update id="reduceOptStockById" parameterType="java.lang.Integer">
        UPDATE xys_operate_theme
        SET card_stocks = card_stocks - #{red}
        WHERE id = #{id}
    </update>

    <update id="updateCardStatus" parameterType="com.shouzan.back.entity.Coupon">
        UPDATE xys_coupon
        SET coupon_state = #{couponState,jdbcType=TINYINT},
            is_display = #{isDisplay,jdbcType=TINYINT},
            is_sell = #{isSell,jdbcType=TINYINT}
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateOperateCardStatus" >
        UPDATE xys_operate_theme
        SET card_state = #{status,jdbcType=TINYINT}
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

</mapper>