<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shouzan.back.mapper.operate.CodeRecordMapper" >
  <resultMap id="BaseResultMap" type="com.shouzan.back.entity.operate.CodeRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="card_state" property="cardState" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_edit_time" property="lastEditTime" jdbcType="TIMESTAMP" />
    <result column="user_tel" property="userTel" jdbcType="VARCHAR" />
    <result column="wechat_openid" property="wechatOpenid" jdbcType="VARCHAR" />
    <result column="activity_id" property="activityId" jdbcType="INTEGER" />
    <result column="record_type" property="recordType" jdbcType="TINYINT" />
    <result column="nick_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="card_name" property="goodsNames" jdbcType="VARCHAR" />
    <result column="ope_id" property="goodsId" jdbcType="INTEGER" />

    <result column="reap_user_id" property="reapUserId" jdbcType="INTEGER" />
    <result column="reap_user_openid" property="reapUserOpenId" jdbcType="VARCHAR" />
    <association property="reapUser" javaType="com.shouzan.back.entity.User" >
      <id column="reap_user_id" property="id" jdbcType="INTEGER" />
      <result column="reap_phone" property="phone" jdbcType="VARCHAR" />
      <result column="sex" property="sex" jdbcType="TINYINT" />
      <result column="reapOpenid" property="openid" jdbcType="VARCHAR" />
      <result column="reap_nick_name" property="nickName" jdbcType="VARCHAR" />
    </association>
  </resultMap>
  <sql id="Base_Column_List" >
     recd.id, recd.order_no, recd.code, recd.card_state, recd.create_time, recd.last_edit_time, recd.user_tel,
     recd.wechat_openid, recd.activity_id, recd.record_type, usr.nick_name, usr.id AS user_id,
     ope.card_name, ope.id AS ope_id ,
     recd.reap_user_id, recd.reap_user_openid AS reapOpenid, urp.nick_name AS reap_nick_name , urp.phone AS reap_phone
  </sql>

  <select id="queryPageCount" resultType="java.lang.Integer" parameterType="com.shouzan.back.vo.SearchSatisfy">
    SELECT
    count(recd.id)
    FROM
    xys_code_record  recd
    LEFT JOIN xys_user usr ON recd.user_id = usr.id
    LEFT JOIN xys_operate_theme ope ON ope.id = recd.activity_id
    <where>
      <if test="keywords != null  and  keywords != '' " >
        and ( recd.order_no = #{keywords} or recd.id = #{keywords} or recd.user_tel LIKE '%${keywords}%' or usr.nick_name LIKE '%${keywords}%' or ope.card_name LIKE '%${keywords}%')
      </if>
      <if test="createTimeStart != null" >
        and recd.create_time <![CDATA[ >= ]]> '${createTimeStart}'
      </if>
      <if test="createTimeEnd != null" >
        and recd.create_time <![CDATA[ <= ]]> '${createTimeEnd}'
      </if>
      <if test="status != null" >
        and recd.card_state = #{status}
      </if>
    </where>
  </select>

  <select id="queryPageList" resultMap="BaseResultMap" parameterType="com.shouzan.back.vo.SearchSatisfy">
    SELECT
    <include refid="Base_Column_List" />
    FROM
    xys_code_record  recd
    LEFT JOIN xys_user usr ON recd.user_id = usr.id
    LEFT JOIN xys_operate_theme ope ON ope.id = recd.activity_id
    LEFT JOIN xys_user urp ON recd.reap_user_id = urp.id
    <where>
      <if test="keywords != null  and  keywords != '' " >
        and ( recd.order_no = #{keywords} or recd.id = #{keywords} or recd.user_tel LIKE '%${keywords}%' or usr.nick_name LIKE '%${keywords}%' or ope.card_name LIKE '%${keywords}%')
      </if>
      <if test="createTimeStart != null" >
        and recd.create_time <![CDATA[ >= ]]> '${createTimeStart}'
      </if>
      <if test="createTimeEnd != null" >
        and recd.create_time <![CDATA[ <= ]]> '${createTimeEnd}'
      </if>
      <if test="status != null" >
        and recd.card_state = #{status}
      </if>
    </where>
    order by recd.create_time desc
  </select>

  <select id="findCardRecordById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from xys_code_record recd
    LEFT JOIN	xys_user usr ON recd.user_id = usr.id
    LEFT JOIN xys_operate_theme ope ON ope.id = recd.activity_id
    LEFT JOIN xys_user urp ON recd.reap_user_id = urp.id
    where recd.id = #{id}
  </select>

  <update id="updateCodeStatus" parameterType="java.lang.Integer" >
    UPDATE xys_code_record SET card_state = 1
    WHERE id = #{id}
  </update>

</mapper>